.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    width:100%;
    height:4.2vh;
    background-color:#1f0704b9;
    font-size: 14px;
    a {
        text-decoration: underline;
        color: #EDE6EE;
    }
    h4 {
        color: #EDE6EE;
    }
}
