
@import "./Common.scss";

.nav-buttons {
   @include flexRowCenter();
   width: 55%;
   @media screen 
   and (min-width: 300px)
   and (max-width: 650px) { 
      width: 95%;
      margin-left:2px;
   }
   @media screen 
   and (min-width: 651px)
   and (max-width: 900px) { 
         width: 95%
   }
   @media screen 
   and (min-width: 901px)
   and (max-width: 1100px) {
      width: 70%
   }
   .home {
      width: auto;
      @media screen 
      and (min-width: 300px)
      and (max-width: 650px) { 
         width: 195px
      }
   } 
   .button {
      @include buttons();
      text-decoration: none;
      padding: 2%;
      margin: 2% 0 2% 0;
      width: 25%;
      font-size: 1em;
      font-weight: 700;
      transition-duration: 0.4s;
      @media screen 
      and (min-width: 300px)
      and (max-width: 650px) { 
            width: 100%;
            font-size: 0.8em;
         }
    }
    .button:hover {
      background-color: #ffb700b6;
      color: white;
    }
    
   img {
      width: 18%;
      @media screen 
      and (min-width: 300px)
      and (max-width: 650px) { 
         width: 50%;
         }
   }
}