@import "./styles/common";

.App {
  @include flexColumnCenter();
  text-align: center;
  background-image: url(https://res.cloudinary.com/harsh-pandloskar/image/upload/v1601038891/background_randombeerapp.jpg);
  /*View port width A percentage of the full viewport height which i have set to 100 which takes 100 % on the window*/
  height:100vh;
  background-size: cover;

  .scrollbar {
    @include flexColumnCenter();
    justify-content: flex-start;
    width: 70%;
    height: 82vh;
    background: rgba(255, 255, 255, 0.800);
    border-radius: 10px;
    overflow-y: scroll;

    .force-overflow {
      min-height: 40px;
    }
    @media screen 
    and (min-width: 300px)
    and (max-width: 900px) { 
          width: 95%;
          margin-left:2px;
    }
  }

  #style-2::-webkit-scrollbar-track {
      border-radius: 10px;
  }

  #style-2::-webkit-scrollbar {
      width: 8px;
  }
  
  #style-2::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $yellowColour;
  }
}